.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../assets/logo/header2.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  @include respond(phone) {
    height: 80vh;
    clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
  }
  &__logo-box {
    position: absolute;
    top: 6rem;
    left: 4rem;
    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }
  }
  &__logo {
    height: 9rem;
    border-radius: 50%;
    @include respond(tab-port) {
      height: 8rem;
    }
    @include respond(phone) {
      height: 6rem;
    }
  }
  &__text-box {
    perspective: 1500px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    @include respond(phone) {
      top: 50%;
    }
  }
}
