.sponsors {
  padding: 25rem 2rem;
  margin-top: -20rem;
  background-color: $color-gold;
  overflow: hidden;
  text-align: center;
  &__heading {
    font-size: 4rem;
    border-bottom: 2px solid $color-primary-dark;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 15rem;
    color: $color-primary-dark;
    display: flex;
    justify-content: center;
    @include respond(tab-port) {
      font-size: 3rem;
      margin-bottom: 8rem;
    }
  }
}

.card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  transition: 0.4s ease-out;
  height: 25rem;
  width: 25rem;
  @include respond(phone) {
    height: 20rem;
    width: 20rem;
  }
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.title {
  color: $color-gold;
  font-size: 2.2rem;
  font-weight: 400;
  margin: 2rem 0;
  text-transform: uppercase;
}

.square {
  padding: 1rem;
  height: 15rem;
  width: 15rem;
  margin-bottom: 2rem;
  // @include respond(phone) {
  //   height: 12rem;
  //   width: 12rem;
  // }

  &__image {
    border-radius: 5px;
    height: 100%;
    width: 100%;
  }
}
